#p0{
	/*display: none;*/
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url(../img/bg.jpg) no-repeat;
	background-size: 100% 100%;
}
#p0>img{
	display: block;
	margin: 0 auto;
	width:18rem;
	margin-top:45rem;
}
#p0>img:nth-child(2){
	margin-top:3rem;
}
#p1{
	display: none;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background: url(../img/bg3.jpg) no-repeat;
	background-size:100% 100%;
}
#p1>img{
	display: block;
	margin: 0 auto;
	width:18rem;
	margin-top:50rem;
}
#p2{
	display: none;
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background: url(../img/bg4.jpg) no-repeat;
	background-size:100% 100%;
}
#p2>img{
	display: block;
	margin: 0 auto;
	width:18rem;
	margin-top:50rem;
}
